<!DOCTYPE html>
<html lang="en">
<head>
    <title>test webapp</title>
</head>
<body>
    <h1>just so i know this works</h1>

    <form action="/response" method="post">

        <select name="nursery_rhyme" id="nursery_rhyme" value="which nursery rhyme do you want?">
            <option value="london"> London Bridge is Falling Down</option>
            <option value="twinkle"> Twinkle Twinkle Little Star</option>
            <option value="ants"> The Ants are Marching One by One</option>
            <option value="frere"> Are You Sleeping Brother John</option> 
            <option value="weasel"> Pop Goes The Weasel</option>
        </select>

        <button type="submit">submit</button>

    </form>

</body>
</html>