<!DOCTYPE html>
<html lang="en">
<head>
    <title>LyricLearn</title>
	<link rel="stylesheet" href="static\design1.css">
</head>
<body>
    <h1>LyricLearn</h1>
	
	<h2>Learning differently</h2>
	<p>Unable to memorise content efficiently? Worry not! 
	Choose a nursery rhyme,<br> a topic, add in necessary keywords
	and let the AI generate a song for you<br> to memorise the content!</p>

    <form id="form" method="post" action="/choices">

        <p>Nursury Rhyme:</p>

        <select name="nursery_rhyme" id="nursery_rhyme">
            <option value="london"> London Bridge is Falling Down</option>
            <option value="twinkle"> Twinkle Twinkle Little Star</option>
            <!-- <option value="ants"> The Ants are Marching One by One</option> -->
            <option value="frere"> Are You Sleeping Brother John</option> 
            <option value="weasel"> Pop Goes The Weasel</option>
        </select>

        <p>Topic:</p>

        <input type="text" name="topic" id="topic">

        <p>Keywords (optional, separate with commas):</p> <!--separte through comma-->

        <input type="text" name="keywords" id="keywords"><br><br>

        <button type="submit">Submit</button>

    </form>

</body>
</html>