<!DOCTYPE html>
<html lang="en">
<head>
    <title>LyricLearn</title>
    <link rel="stylesheet" href="static\design2.css">
</head>
<body>
    <section id="banner">
        <h1>LyricLearn</h1>
        <h2>Choose the best lyrics: </h2>
    </section>
    
    
    <!-- <ol>
        {% for resp in response%}
        <li > {{resp}} </li>
        {%endfor%}
    </ol> -->

    <form id='form' action="/audio" method="POST">
        <span id='span'>
            {% for num in seq%}
            <input type="radio" value={{num}} name="which_one"> {{response[num]}} </input>
            {%endfor%}
        </span>

        <button type="submit">Submit</button>
    </form>


    <button type="button" onClick="window.location.reload()">
        Regenerate Choices
     </button>
    
</body>
</html>